**/__pycache__/
**/__pycache__/*

./data/templates/*
!./data/templates/.gitkeep

./data/workflows/logs/*
!./data/workflows/logs/.gitkeep

./data/workflows/inputs/*
!./data/workflows/inputs/.gitkeep

./data/workflows/results/*
!./data/workflows/results/.gitkeep

./data/workflows/running/*
!./data/workflows/running/.gitkeep